<div class="contact-me">
  <div class="wrapper__background">
    <h3 class="contact-heading">Get in touch</h3>
    <a
      class="bg-link email-link"
      href="mailto:hello@tobefrank.co.uk"
      target="_blank"
      >hello@tobefrank.co.uk</a
    >
  </div>
</div>
<footer class="page-info">
  <div class="wrapper__background">
    <div class="info__main">
      <p class="contentinfo__copyright">
        <small>© <time>2019</time> Frank Hulley-Jones</small>
      </p>
    </div>
  </div>
</footer>
